$pink: rgb(255, 255, 255);

$black: rgb(29, 29, 29);
$dark-black: rgb(20, 20, 20);

$blue: rgb(16, 201, 195);

$light-gray: rgb(233, 233, 233);
$gray: rgb(120, 120, 120);
$dark-gray: rgb(131, 131, 131);

$white: rgb(249, 223, 223);

$opacity: rgba(149, 124, 124, 0.8);

