@import '../_colors';

.contact-info {
    height: 710px;
    padding-top: 100px;
    background-color: $light-gray;
}

.contact-info > .container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 50px;
   
}

.info-message {
    padding-top: 40px;
}

.info-text {
    justify-content: start;
    padding-top: 80px;
}

.info-text > p {
    margin-top: 20px;
}

.map {
    height: 470px;
    width: 100%;
    background-color: $pink;
}

#googleMap {
    width: 100%;
    height: 100%;
}